.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hidden-4-col {
  display: none;
}

.collision-div {
  padding: 20px 16px;
  height: 100%;
  position: relative;
}

.with-collision-div {
  padding: 0;
}

.btn-as-anchor {
  border: none;
  background-color: transparent;
}
