.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-sb {
  justify-content: space-between;
}

.hidden {
  display: none;
}

.hover-pointer:hover {
  cursor: pointer;
}

.hidden-4-col {
  display: none;
}
