body {
  font-family: Quattrocento, 'Times New Roman', Times, serif;
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

select,
input {
  border-radius: 5px;
  background-color: #f1f1f1;
  border: 1px solid #c7c7c7;
  font-family: Quattrocento, 'Times New Roman', Times, serif;
}

button {
  border-radius: 5px;
  font-family: Quattrocento, 'Times New Roman', Times, serif;
}

button:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.view {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

/* NAVBAR */

.header {
  height: 80px;
  background-color: #333;
  border-bottom: 4px solid #f00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;
}

.header > div {
  display: flex;
  align-items: center;
}

#navbar-spellbook-menu-div {
  margin-right: 15px;
}

#title {
  margin: 0 0 0 15px;
  color: white;
  font-size: 28px;
}

#navbar-spells-list-view-anchor {
  display: none;
  margin-left: 30px;
  color: white;
  font-size: 28px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

#navbar-spells-list-view-anchor:hover {
  cursor: pointer;
}

#navbar-new-spellbook-btn {
  margin-right: 30px;
  height: 32px;
  font-size: 20px;
  color: white;
  border: none;
  background-color: #f00;
}

#menu-btn {
  background: transparent;
  border: none;
  color: white;
  height: 40px;
  width: 35px;
  font-size: 28px;
}

/* MENU */

#menu-dialog {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  padding: 0;
  max-height: 100vh;
  height: 100vh;
  width: 280px;
}

#collision-div {
  padding: 20px 16px;
  height: 100%;
  position: relative;
}

#close-menu-btn {
  background: transparent;
  border: none;
  height: 40px;
  width: 35px;
  font-size: 28px;
  position: absolute;
  right: 15px;
  top: 18px;
}

#menu-all-spells-anchor {
  font-size: 28px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-weight: 700;
}

#menu-dialog h1 {
  font-size: 28px;
}

#menu-new-spellbook-anchor {
  text-decoration: underline;
}

.spellbook-link-div {
  margin-bottom: 10px;
}

.spellbook-link {
  font-size: 18px;
}

/* SPELLS LIST VIEW */

#spells-list-view {
  width: 360px;
  padding-left: 20px;
}

#spells-list-header {
  margin-right: 8px;
}

#spells-list-sort-search-filter-div {
  margin-bottom: 20px;
}

#spells-list-sort-search-filter-div > * {
  font-size: 24px;
}

#spells-list-search-sort-form {
  display: none;
  height: fit-content;
  width: calc(100% - 293px);
}

#spells-list-sort-dropdown {
  font-size: 24px;
  padding: 5px;
  margin-right: 50px;
}

#spells-list-search-input {
  font-size: 24px;
  padding: 6px;
  width: calc(100% - 37px);
}

#spells-list-search-sort-submit-btn {
  height: 40px;
  width: 30px;
  transform: translate(0, -3px);
  background-color: #f00;
  border: none;
}

.fa-magnifying-glass {
  color: white;
}

#spells-list-filter-btn {
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

#spells-list-filter-dialog {
  min-width: 330px;
  width: 330px;
}

#spells-list-filter-dialog * {
  font-size: 20px;
}

#spells-list-filter-dialog form {
  margin-top: 10px;
}

#spells-list-filter-dialog div {
  margin-bottom: 15px;
}

#spells-list-filter-dialog input,
#spells-list-filter-dialog select {
  width: 100%;
}

#clear-filter-btn {
  border: none;
  background: none;
  text-decoration: underline;
}

#filter-form-buttons-div {
  display: flex;
  justify-content: space-between;
}

#filter-form-buttons-div button {
  padding: 5px 10px;
}

#cancel-filter-btn {
  border: none;
  color: white;
  background-color: #333;
}

#submit-filter-btn {
  border: none;
  color: white;
  background-color: #f00;
}

#no-spells-p {
  text-align: center;
  margin-right: 20px;
}

#spells-list-cards-div {
  justify-content: flex-start;
}

.card {
  background-color: #fff9eb;
  border-radius: 5px;
  border: 1px solid #f5e8cc;
  box-shadow: 2px 4px 4px #9a9a9a;
  width: 150px;
  height: 225px;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: transform 0.25s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.card-top-div {
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  height: 25px;
}

.card-level-span {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 16px;
}

.spell-circle-div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.spell-circle-img {
  width: 100%;
}

.spell-card-name-div {
  height: 65px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spell-card-name-span {
  font-size: 20px;
  text-align: center;
}

/* SPELL DETAILS VIEW */

#spell-details-view {
  padding: 20px 15px;
  min-width: 350px;
}

#spell-details-back-anchor {
  font-size: 20px;
  margin-left: 30px;
}

#spell-scroll-page {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: linear-gradient(#fff9eb, #faf1dd 70%, #f5e8cc 90%);
}

#spell-scroll-top,
#spell-scroll-bottom {
  background-color: #f5e8cc;
  height: 50px;
  position: relative;
  width: calc(100%);
  display: flex;
  justify-content: space-between;
}

#spell-scroll-top {
  top: -20px;
  left: 15px;
}

#spell-scroll-bottom {
  bottom: -20px;
  right: 15px;
}

.scroll-end {
  width: 30px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.scroll-end-dark {
  background-color: #e8d7b1;
  left: -15px;
}

.scroll-end-light {
  background-color: #f5e8cc;
  right: -15px;
}

#all-spell-details {
  margin-left: 20px;
  margin-right: 20px;
}

#spell-details-name {
  margin-bottom: 0;
  margin-top: 10px;
}

.spell-details-group {
  margin-bottom: 20px;
}

#spell-details-description-div > div {
  margin-bottom: 10px;
}

/* SPELLBOOK FORM VIEW */

#spellbook-form-view {
  padding: 0 30px;
  min-width: 350px;
  max-width: 800px;
}

#spellbook-form-view form * {
  font-size: 20px;
}

#spellbook-form-view select,
#spellbook-form-view input {
  width: 100%;
  padding: 5px 10px;
}

#spellbook-form-view #autofill-spells-checkbox {
  width: fit-content;
}

.spellbook-form-group {
  margin-bottom: 15px;
}

#spellbook-form-view button {
  padding: 5px 10px;
  border: none;
  color: white;
}

#spellbook-form-cancel-btn {
  background-color: #333;
}

#spellbook-form-save-btn {
  background-color: #f00;
}

/* MEDIA AT RULES */

@media (width >= 460px) {
  #navbar-spells-list-view-anchor {
    display: inline;
  }
}

@media (width >= 590px) {
  #spells-list-view {
    width: 530px;
  }

  #spells-list-search-sort-form {
    display: inline-block;
  }

  #spells-list-sort-dropdown {
    margin-right: 0;
  }
}

@media (width >= 760px) {
  #spells-list-view {
    width: 700px;
  }

  .hidden-4-col {
    display: inline-block;
  }
}

@media (width >= 930px) {
  #spells-list-view {
    width: 870px;
  }
}

@media (width >= 1100px) {
  #spells-list-view {
    width: 1040px;
  }
}
